<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for message.user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><strong><%= message.user.name %></strong> el <%= message.timestamp %> escribio</span><br>
          &nbsp;&nbsp;<%= message.body %>
        </p>
      </div>
    </div>

  </div>
</div>