<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for mensaje.user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><strong><%= mensaje.user.name %></strong> el <%= mensaje.timestamp %> escribio</span><br>
          &nbsp;&nbsp;<%= mensaje.texto %>
        </p>
      </div>
    </div>

  </div>
</div>