@import "bootstrap-sprockets";
@import "bootstrap";
@import 'global';

@import "*";

.listado {
    width: 25%;
    float: right
    ;
    padding: 15px;
    border: 1px solid red;
}
.chatear {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

 .chat-sms:before { 
    content: url(asset-path('SMS-bubble-icon.png'));

    line-height: 1.85rem !important;
    padding-left: 10px;
    margin-bottom: -30px;
}

 .plus:before { 
    content: url(asset-path('Alarm-Plus-icon.png'));


  }
